#home-header {
  background: url(../../../assets/img/home/home-header-bg.jpg) no-repeat center
    center/cover;
}

#home-header .home-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#home-header .home-header h1 {
  font-size: 3rem;
  text-align: center;

  margin-bottom: 5rem;
}
