#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000000000;
}

#nav .nav-logo-img {
  max-width: 10rem;
}

#nav .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 0;
}
