* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

.cutive-mono {
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.garet-heavy {
  font-family: "Garet", sans-serif;
  font-weight: 700;
}

.garet-book {
  font-family: "Garet", sans-serif;
  font-weight: 400;
}

.container {
  width: 95%;
  margin: 0 auto;
}

body {
  background-color: #f5f2e9;
  color: #000000;
}
