#image-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#image-container .lg {
  width: 100%;
  padding: 0rem 2rem;
}

#image-container .sm {
  width: 70%;
  padding: 0rem 2rem;
}

#image-container .xsm {
  width: 60%;
  padding: 0rem 2rem;
}

#image-container .right-aligned {
  margin-left: auto;
}

#image-container .left-aligned {
  margin-right: auto;
}
